@import "./pen.scss";

$cyan: #ff6347;
$tiles: 5;

body {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  
  &, * {
    cursor: none;
  }
}

.shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #ff6347;
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  
  $shapes: (#87ceeb: 650px, #ee82ee: 440px, #3cb371: 270px);
  
  @each $color, $size in $shapes {
    &.shape-#{index($shapes, ($color $size))} {
      background: $color;
      width: $size;
      height: $size;
      margin: (-$size/2) 0 0 (-$size/2);
    }
  }
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f8f8ff;
  mix-blend-mode: screen;
}

h1 {
  @include rf(100, 200);

  color:#000;
  margin: 0;
  text-align: center;
}


.cursor {
  position: fixed;
  background: #ff6347;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::selection {
  color: #fff;
  background: #cd5c5c;
}

.wrapper {
  height: 100vh;
  text-align: center;
  
  button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.loader {
  $parent: &;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
  
  #{$parent}__icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity .5s ease;
    
    svg {
      transform-origin: 0 0;
    }
  }
  
  #{$parent}__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: $cyan;
    transition: width .7s ease;
    
    @for $i from 0 through $tiles {
      &:nth-child(#{$i}) {
        top: calc(#{$i - 1} * 20%);
        transition-delay: #{($i - 1) * 0.2s};
      }
    }
  }
  
  &--active {
    width: 100%;
    transition-delay: 0s;
    
    #{$parent}__icon {
      opacity: 1;
      transition: opacity .5s 1.4s ease;
    }
    
    #{$parent}__tile {
      width: 100%;

      @for $i from 0 through $tiles {
        &:nth-child(#{$i}) {
          transition-delay: #{($i - 1) * 0.2s};
        }
      }
    }
  }
}